<div class="ratio" style="--bs-aspect-ratio: 96%">
  <object
    data="{{ site.url }}{{ site.baseurl }}/assets/resume.pdf#view=FitH&toolbar=0&scrollbar=0"
    type="application/pdf"
    class="rounded-3"
  >
    <p>
      Alternative text - include a link
      <a href="{{ site.url }}{{ site.baseurl }}/assets/resume.pdf"
        >to the PDF!</a
      >
    </p>
  </object>
</div>

<div>
  <a href="{{ site.url }}{{ site.baseurl }}/assets/resume.pdf">
    <i class="fa-solid fa-file-arrow-down" style="font-size: 48px; padding:0.25em"></i>
  </a>
</div>
